<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting key="Active Layer t" value="0" />
	<setting key="Active Layer u" value="0" />
	<setting key="Active Layer v" value="0" />
	<setting key="Active Layer w" value="0" />
	<setting key="Active Layer x" value="0" />
	<setting key="apply_stroke" value="true" />
	<setting key="Active Layer y" value="0" />
	<setting key="Active Layer z" value="0" />
	<setting key="skew_overview" value="0" />
	<setting key="file_name" value="Revista Metropolis" />
	<setting key="stroke_width" value="2.00" />
	<setting key="Active Layer a" value="1" />
	<setting key="Active Layer b" value="0" />
	<setting key="Active Layer c" value="0" />
	<setting key="Active Layer d" value="0" />
	<setting key="Active Layer e" value="0" />
	<setting key="Active Layer f" value="0" />
	<setting key="Active Layer g" value="0" />
	<setting key="Active Layer h" value="0" />
	<setting key="Active Layer i" value="0" />
	<setting key="Active Layer j" value="0" />
	<setting key="Active Layer k" value="0" />
	<setting key="file_name_mac" value="Revista Metropolis Mac" />
	<setting key="Active Layer l" value="0" />
	<setting key="Active Layer m" value="0" />
	<setting key="Active Layer n" value="0" />
	<setting key="Active Layer o" value="0" />
	<setting key="Active Layer p" value="0" />
	<setting key="Active Layer q" value="0" />
	<setting key="Active Layer r" value="0" />
	<setting key="Active Layer M" value="0" />
	<setting key="has_export_settings" value="true" />
	<setting key="Active Layer s" value="0" />
	<setting key="Active Layer N" value="0" />
</settings>
